/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

/* Body styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #262122;
  color: #634e48;
}

/* centering all elements */
.container {
  width: 71.25rem;
  margin: 0 auto;
}

/* Header styels */
.header {
  margin-top: 10px;
  border-bottom: 2px solid #bd9e7d;
}

.title {
  padding: 10px 0 10px 0;
}

/* Rules paragraph */
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #634e48;
  margin-top: 60px;
}

.p1 {
  font-size: 1.875rem;
  font-weight: 700;
}

.p2 {
  font-size: 2.1875rem;
  font-weight: 600;
}

/* ICONS section */
.icons {
  border: 2px solid #bd9e7d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 136px;
  padding: 50px;
  margin-top: 60px;
}

button {
  background-color: #262122;
  cursor: pointer;
  outline: none;
  border: none;
}

/* Button animation */
.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rock:hover,
.paper:hover,
.scissors:hover,
.again:hover {
  transition: 0.1s all;
  transform: translateY(-4px);
}

.rock:active,
.paper:active,
.scissors:active,
.again:active {
  transform: translateY(4px);
}

/* Points updates */
.points {
  border: 2px solid #bd9e7d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 60px;
}

.user,
.pc {
  padding: 50px;
  font-size: 2.1875rem;
}

/* weapons section */
.weapons-section {
  background-color: #d8d8d8;
}

/* play again button */
.disabled {
  display: none;
}

/* playagainbutton styles */
.again {
  border: 2px solid #483d3a;
  border-radius: 4px;
  font-size: 1.875rem;
  padding: 8px 32px;
  color: #483d3a;
  margin-top: 20px;
}

/* footer */
.foot {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 93px;
}

.github-icon {
  width: 30px;
  height: 30px;
}
